@import "tailwindcss";

@utility toast-container {
  position: fixed;
  top: 72px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
}

@utility toast {
  width: 280px;
  padding: 12px 16px;
  border-radius: 6px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: default;
}

@utility toast-message {
  margin-bottom: 8px;
  font-size: 14px;
}

@utility toast-progress {
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  overflow: hidden;
}

@utility toast-progress-bar {
  height: 100%;
  background: white;
  transition: width 0.1s linear;
}

@utility toast-success {
  /* Types */
  background: #2ecc71;
}

@utility toast-error {
  background: #e74c3c;
}

@utility toast-info {
  background: #3498db;
}

@utility toast-warning {
  background: #f39c12;
}